<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
</head>
<body>
    </script><%- include('./partials/googleTagManager') -%>
    <%- include('partials/navbar') %>
    <section class="faqs">
        <div class="nav"></div>
        <div class="title-container">
            <p>FREQUENTLY ASK QUESTIONS</p>
            <h4>IN DEVELOPMENT</h4>
        </div>
        <div class="contact-title">
            <h3>Do you have a question?</h3>
            <h4>Contact with us</h4>
        </div>
    </section>
    <%- include('home/contact') %>

    <%- include('partials/fab') %>
    <%- include('partials/footer') %>
    <script src="/js/navbar.js"></script>
    <script src="/js/navLinks.js"></script>
    <!-- Animate on scroll -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>