<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
</head>
<body>
    <%- include('partials/navbar') %>
    <section class="treatments-view">
        <div class="nav"></div>
        <div class="title-container">
            <p class="title"><%=treatment.title%></p>
            <p class="title-desc"><%=treatment.subtitle%></p>
        </div>
        <div class="content">
            <img src="/img/treatments/treatment-1-img.png" alt="">
            <p class="title"><%=treatment.info_title%></p>
            

            <% if(typeof treatment.info != 'undefined'){ %>
                <p class="body"><%=treatment.info%></p>
            <% } %>

            <% if(treatment.video){ %>
                <iframe width="420" height="315" src="<%=treatment.video%>"></iframe>
            <% } %>

            
            <% if(typeof treatment.description_title != 'undefined'){ %>
                <p class="description-title title"><%=treatment.description_title%></p>
            <% } %>

            <% if(typeof treatment.description != 'undefined'){ %>
                <p class="description-body body"><%=treatment.description%></p>
            <% } %>


            <% if(typeof treatment.footer_title != 'undefined'){ %>
                <p class="footer-title title"><%=treatment.footer_title%></p>
            <% } %>

            <% if(typeof treatment.footer != 'undefined'){ %>
                <p class="footer-body body"><%=treatment.footer%></p>
            <% } %>

            <% if(typeof treatment.bullets_title != 'undefined'){ %>
                <p class="bullets-title title"><%=treatment.bullets_title%></p>
            <% } %>

            <% if(typeof bulletsTreatment != 'undefined'){ %>
                <ul class="bullets">
                        <% for (let i = 0; i < bulletsTreatment.length; i++ ) { %>
                        <li class="bullet <%=bulletsTreatment[i].icon%>">
                            <span class="titulo"><%=bulletsTreatment[i].title%>:</span>
                            <div class="desc">
                                <% if (bulletsTreatment[i].icon == 'number') { %>
                                    <div class="iconWithNumber">
                                        <span class="idNumber"><%=i%></span>
                                        <img src="/img/treatments/treatment-<%=treatment.id%>-bullet.png" class="imgIcon" alt="">
                                    </div>
                                <% } else { %>
                                    <img src="/img/treatments/treatment-<%=treatment.id%>-bullet-<%=i+1%>.png" alt="">
                                <% } %>
                                <span><%=bulletsTreatment[i].desc%></span>
                            </div>
                        </li>
                        <% } %>
                    </ul>
            <% } %>

            
            
            <!-- <hr> -->

            <div class="splide-container">
                <div class="splide" data-splide='{"type" : "fade" , "drag": false , "rewind":true, "autoplay": false, "pagination": false}'>
                    <div class="splide__track" >
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <div class="after-before">
                                    <img src="/img/treatments/treatment-<%=treatment.id%>-before.png" alt="before">
                                    <p>BEFORE</p>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="after-before">
                                    <img src="/img/treatments/treatment-<%=treatment.id%>-after.png" alt="after">
                                    <p>AFTER</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            
    </section>

    <section style="display: flex; align-items: center; justify-content: center; width: 100vw;">
        <form action="/account/turn/treatment" method="POST" data-aos="fade-up" class="container-layout">
            <div>
                <% let i = treatment.id-1 %>
                    <div>
                        <input type="radio" checked="checked" value="<%=treatments[i].id%>" name="treatment" id="treatment-<%=treatments[i].id%>" class="hidden-checkbox-input">
                    </div>
            </div>
            <button class="turn-btn" style="transition: 2s; margin-bottom: 10vh; background: none; font-size: 3rem; color: #00BAC6; border: .3vmin solid #00BAC6; padding: 1rem; border-radius: 1.5rem; background: white">SACAR TURNO</button>
        </form>
    </section>
    <%- include('partials/fab') %>
    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Animate on scroll -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
    <!-- Para los carrusels -->
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    <script>
      var elms = document.getElementsByClassName( 'splide' );
      for ( var i = 0, len = elms.length; i < len; i++ ) {
        new Splide( elms[ i ] ).mount();
      }
    </script>
    <script src="/js/navbar.js"></script>
    <script src="/js/navLinks.js"></script>
</body>
</html>