<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('../partials/head')%>
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    
    <div class="section-admin">
        <%-include('sidebar')%>
        <div class="content">
            <div class="control-section">
                <div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5>Crear banner</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form  class="row g-3" action="/admin/treatments" method="POST">
            
            <label for="name" class="col-form-label">Titulo</label>
            <input class="form-control" type="text" name="title" id="title">
            
            <label for="image">Descripcion corta</label>
            <input class="form-control" type="text" name="short_description" id="short_description">

            <label for="image">Lang [esp / eng]</label>
            <input class="form-control" type="text" name="lang" id="lang">

            <label for="image">Treatment (id)</label>
            <input class="form-control" type="text" name="treatment" id="treatment">

        </div>
        <div class="modal-footer d-flex justify-content-center pt-4">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Crear</button>
          </form>
        </div>
        </div>
    </div>
    </div>
      <div class="control-section">
          <button class="btn btn-primary" 
          data-bs-toggle="modal" 
          data-bs-target="#createUserModal"
          >Agregar un Tratamiento</button>
      </div>
   
      <!-- DELETE TURN MODAL -->
    <div class="modal fade" id="deleteTurnModal" tabindex="-1" aria-labelledby="deleteTurnModal" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
              <h5>ATENCION</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h3>Seguro de borrar?</h3>
            <h5>Esto no puede ser revertido</h5>
          </div>
          <div class="moda-footer" style="display:flex; padding-bottom: 15px;">
            <button type="button" class="btn btn-secondary mx-3" data-bs-dismiss="modal">Cancelar</button>
            <form action="/admin/treatments?_method=DELETE" method="POST">
              <input type="text" id="deleteTurn" name="deleteTurnId" class="hidden-checkbox-input">
              <button type="submit" class="btn btn-success mx-3">Confirmar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
            </div>
           
            <table class="table" style="width: 90%;">
                <thead>
                  <tr>
                    <th scope="col" style="width: 40%;">Tratamiento</th>
                    <th scope="col" style="width: 40%;">Codigo</th>
                    <th scope="col" style="width: 25%;">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let i = 0; i < treatments.length; i++){ %>
                    <tr>
                      <td><%=treatments[i].title%></td>
                      <td><%=treatments[i].treatment%></td>
                      <td>
                        <button class="btn btn-warning"><i class="fal fa-pencil"></i></button>
                        <button class="btn btn-danger turnField"
                          data-bs-toggle="modal" 
                          data-bs-target="#deleteTurnModal"
                          data-bs-turnTitle="<%=treatments[i].title%>"
                          data-bs-turnTime="<%=treatments[i].short_description%>"
                          data-bs-idTurn="<%=treatments[i].id%>"
                        ><i class="fal fa-trash-alt"></i></button>
                      </td>
                    </tr>
                  <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <script>
  let deleteModal = document.getElementById('deleteTurnModal')
  deleteModal.addEventListener('show.bs.modal', function (event) {
    let button = event.relatedTarget
    let deleteTurn = document.getElementById('deleteTurn');
    console.log('att', button.getAttribute('data-bs-idTurn'));
    deleteTurn.setAttribute('value',button.getAttribute('data-bs-idTurn'));
    
  });
  </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>