<section class="section-aboutus" id="aboutusSection">

    <div class="title-container" data-aos="fade-up">
      <h1><%=aboutusDat.titlePrincipal%></h1>
      <h3><%=aboutusDat.subTitlePrincipal%></h3>
    </div>

    <div class="img-container" data-aos="flip-left">
      <img src="/img/home/aboutus.png" alt="Doctors">
    </div>
    <div class="text-container" data-aos="fade-right">
      <p><%=aboutusDat.whyareus%></p>
      <p><%=aboutusDat.whyareus2%></p>
      <a href="/aboutus"><button><%=aboutusDat.button%></button></a>
    </div>

    
  </section>