<section class="section-contact" id="contactSection">
    <div class="contact-box" data-aos="fade-up">
        <div class="info">
            
            <div class="title-container">
                <p class="title"><%=contactDat.titles[0]%></p>
            </div>

            <div class="contact-date">
                <div class="contact-field">
                    <i class="fal fa-map-marked-alt"></i>
                    <h2 class="contact"><%=contactDat.contactMed[0]%></h2>
                </div>
                <div class="contact-field">
                    <i class="fal fa-envelope"></i>
                    <h2 class="contact"><%=contactDat.contactMed[1]%></h2>
                </div>
                <div class="contact-field">
                    <i class="fal fa-phone-alt"></i>
                    <h2 class="contact"><%=contactDat.contactMed[2]%></h2>
                </div>
                <div class="contact-field">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.740248414233!2d-58.45588738427055!3d-34.56013156270113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5d2ef8c0ec5%3A0xb5e5013c90e3d93!2sAv.%20Juramento%202089%2C%20C1428%20DNH%2C%20Buenos%20Aires%2C%20Argentina!5e0!3m2!1sen!2sus!4v1634669730641!5m2!1sen!2sus" width="300" height="200" style="border:0; height: 200px; margin-top: 4vh; border-radius: 1vw; width : 100%;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            
            <div class="social-icons">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>

        </div>
        <form action="/message" method="post">
            <div class="message" style="width: 100%;">
                <div class="title-container">
                    <p class="title"><%=contactDat.titles[1]%></p>
                </div>
                <div class="field">
                    <label for="first_name"><%=contactDat.messageLabels[0]%></label>
                    <input type="text" id="first_name" name="first_name">
                </div>
                <div class="field">
                    <label for="last_name"><%=contactDat.messageLabels[1]%></label>
                    <input type="text" id="last_name" name="last_name">
                </div>
                <div class="field">
                    <label for="email"><%=contactDat.messageLabels[2]%></label>
                    <input type="text" id="email" name="email">
                </div>
                <div class="field">
                    <label for="subject"><%=contactDat.messageLabels[3]%></label>
                    <input type="text" id="subject" name="subject">
                </div>
                <div class="field field-message">
                    <label for="message"><%=contactDat.messageLabels[4]%></label>
                    <textarea id="message" cols="30" rows="10" name="message"></textarea>

                </div>
                <div class="field field-button">
                    <button type="submit"><%=contactDat.messageSendButton%></button>
                </div>
            </div>
        </form>
    </div>
</section>